.main--history {
  min-height: 50vh;
  background-color: $color-white-light;
  $padding: 0 4rem;

  .history__header {
    height: 10rem;
    border-bottom: 1px solid rgba($color-gray-light, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;
  }

  .history__manage {
    height: 8rem;
    border-bottom: 1px solid rgba($color-gray-light, 0.3);
    padding: $padding;
    display: flex;
    align-items: center;
  }

  .section--history-items {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 315px;
  }
}