.main--product {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  background-color: $color-white-light;
  padding: 2rem 20rem;
  display: grid;
  place-items: center;

  .section--product-overview {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 100%;
    grid-column-gap: 3rem;
    margin-bottom: 12rem;
    margin-top: 6rem;
  } 

  .section--banners {
    &__manufacturer { @include darkYellowText(1.6rem); }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: rgba($color-gray-light, 0.2);
      margin-bottom: 2rem
    }

    @include grayUnderline();

    &::after { margin-top: 4rem; }
  }

  .section--description {
    padding: 2rem 0;

    &__title { @include darkYellowText(1.6rem); }

    &__description { font-size: 1.2rem; }

    @include grayUnderline();

    &::after { margin-top: 2rem; }
  }

  .section--info {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3rem;
    margin-bottom: 2rem;
  }

  .section--hazard {
    width: 100%;
    background-color: $color-yellow-bright;
    padding: 2rem;
    display: flex;
    align-items: center;
    border: 2px solid $color-red-medium;

    &__text { 
      padding-left: 1rem; 
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .section--product-reviews {
    position: relative;
    min-height: 30rem;
    width: 100%;
    display: grid;
    grid-template-areas: 'write write'
                         'stats reviews';
    grid-template-columns: 35% 73%;
    grid-column-gap: 2rem;

    .review-write {
      grid-area: write;
      width: 100%;
    }

    .review-stats {
      grid-area: stats;
      width: 100%;
    }

    .grid-reviews {
      grid-area: reviews;
      width: 100%;
    }

    .review-none {
      color: $color-red-medium;
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}