.main--product {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  background-color: $color-white-light;
  padding: 2rem 20rem;
  display: grid;
  place-items: center;
}

.section--product-overview {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 100%;
  grid-column-gap: 3rem;
} 
