.main--search {
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  padding: 4rem 20rem;
  background-color: $color-white-light;
}

.section--search {
  height: 100%;
  width: 100%;
  display: grid;
  grid-row-gap: 4rem;
}

.section--pagination {
  height: 60px;
  width: 100%;
  padding: 2rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}