$color-blue-dark: rgb(19, 25, 32);
$color-blue-medium: rgb(35, 47, 62);

$color-yellow-bright: #FFD814;
$color-yellow-dull: #F7CA00;
$color-yellow-light: #fabd6a;
$color-yellow-medium: #f08804;

$color-blue-light: #007185;

$color-white-light: #ffffff;
$color-white-medium: #f3f3f3;
$color-white-dark: #EAEDED;

$color-orange-medium: #C7511F;

$color-black-dark: #000;
$color-black-medium: #222;