$color-blue-dark: rgb(19, 25, 32);
$color-blue-medium: rgb(35, 47, 62);

$color-yellow-bright: #FFD814;
$color-yellow-dull: #F7CA00;
$color-yellow-light: #fabd6a;
$color-yellow-medium: #f08804;

$color-blue-light: #007185;
$color-blue-medium: #37475A;
$color-blue-dark: #232F3E;

$color-white-light: #ffffff;
$color-white-medium: #ddd;
$color-white-dark: #EAEDED;

$color-gray-light: #767676;

$color-orange-medium: #C7511F;

$color-black-dark: #000;
$color-black-medium: #222;

$color-red-medium: #C40000;