.section--auth {
  height: auto;
  width: 100%;
  background-color: $color-white-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 2rem;
}

.form--login {
  height: 27rem;
  width: 35rem;
}

.form {
  border: 1px solid rgba($color-black-medium, 0.1);
  padding: 2rem;
  border-radius: 0.5rem;

  &__title {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  &__group {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;

    &:not(:last-child) { margin-bottom: 1rem; }
  }

  &__label {
    margin-bottom: 0.3rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__input {
    padding: 0.3rem 0.7rem;
    height: 3.1rem;
    border: 1px solid rgba($color-black-medium, 0.2);
    border-radius: 0.3rem;
    outline: none;
    
    &:focus { box-shadow: 0 0 5px 0.1rem $color-yellow-medium; }
  }

  &__submit {
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.7rem;
    background-color: $color-yellow-dull;
    border: 1px solid rgba($color-black-dark, 0.1);
    border-radius: 0.3rem;

    &:hover { background-color: rgba($color-yellow-dull, 0.9); }
    &:disabled { background-color: rgba($color-yellow-dull, 0.6) }
  }
}

.new-to-amazon {
  margin-top: 2rem;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);

  a { text-decoration: none; }
  
  &__text {
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-gray-light;
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: rgba($color-gray-light, 0.2);
      top: 50%;
      transform: translateY(-50%);
    }

    &::before { left: -110%; }
    &::after { right: -110%; }
  }

  &__button {
    width: 35rem;
    font-size: 1rem;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: 1px solid rgba($color-black-medium, 0.1);
    background-color: rgba($color-gray-light, 0.15);
    outline: none;

    &:hover { background-color: rgba($color-gray-light, 0.08); }
  }
}

.section--signup {
  .form--signup {
    height: 38rem;
    width: 38rem;
  }

  .new-to-amazon {
    margin-top: 10rem;
  }
}