.btn {
  cursor: pointer;

  &--add-to-cart,
  &--buy,
  &--wishlist {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
    padding: 0.8rem 0;
    border-radius: 3rem;
  }

  &--add-to-cart { 
    background-color: $color-yellow-bright; 
    &:hover { background-color: rgba($color-yellow-dull, 0.9); }
  }

  &--buy { 
    background-color: $color-yellow-medium; 
    &:hover { background-color: rgba($color-yellow-medium, 0.9); }
  }

  &--wishlist {
    background-color: rgba($color-gray-light, 0.2);
    &:hover { background-color: rgba($color-gray-light, 0.25); }
  }
}