.btn {
  cursor: pointer;

  &--add-to-cart,
  &--buy,
  &--wishlist {
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.4rem;
    padding: 0.8rem 0;
    border-radius: 3rem;
    height: 35px;
  }

  &--add-to-cart { 
    background-color: $color-yellow-bright; 
    &:hover { background-color: rgba($color-yellow-dull, 0.9); }
  }

  &--buy { 
    background-color: $color-yellow-medium; 
    &:hover { background-color: rgba($color-yellow-medium, 0.9); }
  }

  &--wishlist {
    background-color: rgba($color-gray-light, 0.2);
    &:hover { background-color: rgba($color-gray-light, 0.25); }
  }

  &--pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    font-size: 1.4rem;
    background-color: $color-white-light;
    border: 1px solid rgba($color-gray-light, 0.3);

    svg { 
      height: 25px; 
      width: 25px; 
      transform: translateY(5%);
    }
  }

  &--previous {
    justify-content: flex-start;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  &--next {
    justify-content: flex-end;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &--outlined {
    font-size: 1.4rem;
    background-color: transparent;
    border: 2px solid $color-blue-lighter;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: $color-blue-lighter;
    font-weight: 600;
    letter-spacing: 0.8px;
  }

  &:disabled { cursor: not-allowed; }
}