.review-write {
  width: 100%;
  height: 100%;

  &__text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
  }

  &__form {
    width: 100%;
    display: flex;
  }

  &__inputs {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    height: 25px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__textarea {
    height: 85px;
  }

  &__textarea,
  &__title {
    padding: 0.4rem;
    outline: none;
    border: 1px solid $color-gray-light;
    resize: vertical;
    font-size: 1.6rem;
  }

  &__actions {
    width: 10%;
    display: flex;
    flex-direction: column;
    & > * { height: 50%; }
  }
}